@layout BlankLayout
@page "/invoices"
@inherits InvoiceContainerHandler
@using AntDesign.core
@inject NavigationManager NavigationManager

<div class="flex flex-col min-h-screen">
    <div class="flex-grow">
        <div class="flex mb-4 py-2 bg-white shadow-xs rounded">
            <div class="w-3/4 h-8 px-4 sm:px-6 items-center">
                <h4 class="font-semibold text-lg">Facturacion</h4>
            </div>
            <div class="w-1/4 px-4 sm:px-6 md:flex items-center justify-end">
                <button @onclick="GoToDashboard" class="rounded-full h-10 w-10 flex items-center justify-center text-gray-500 hover:bg-gray-200">
                    <i class="fas fa-times fa-2x"></i>
                </button>
            </div>
        </div>

        <EditForm Model="_model" OnValidSubmit="@((context) => OnFinish(context, _model.Id))" OnInvalidSubmit="OnFinishFailed">
            <div class="flex mb-4 bg-white shadow-xs rounded">
                <div class="w-3/4 px-4 py-4 sm:px-6 items-center">
                    <div class="flex w-3/4 justify-between">
                        <div class="flex-col w-1/3 mr-5">
                            <div class="mb-2">
                                <label class="block text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                                    Cliente
                                </label>
                                <Select ShowSearch
                                        Style="width:100%"
                                        Placeholder="Seleccione un cliente"
                                        OnChange="OnChangeClient"
                                        OptionFilterProp="children">
                                    @foreach (var customer in Clients)
                                    {
                                        <SelectOption Value="@customer.Id.ToString()">@customer.Name</SelectOption>
                                    }
                                </Select>
                            </div>
                            <div class="mb-2">
                                <label class="block text-gray-700 text-xs font-bold mb-1" for="grid-first-name">
                                    RNC
                                </label>
                                <FInputText @bind-Value="_model.Rnc" AdditionalAttributes="@(new Dictionary<string, object> {{"name", "Name" }})" />
                                <FCustomValidationMessage For="@(() => _model.Rnc)" Class="mt-2 font-semibold text-red-600" />
                            </div>
                            <div class="mb-2">
                                <label class="block tracking-wide text-gray-700 text-xs font-bold mb-1" for="grid-last-name">
                                    Termino de pago
                                </label>
                                <div class="mb-4">
                                    <div class="inline-block relative w-full">
                                        <FInputSelect @bind-Value="_model.PaymentTermId">
                                            <option value="0">Seleccione un Termino Pago</option>
                                            @foreach (var type in PaymentTerms)
                                            {
                                                <option value="@type.Id">@type.Description</option>
                                            }
                                        </FInputSelect>
                                        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
                                        </div>
                                        <FCustomValidationMessage For="@(() => _model.PaymentTermId)" Class="mt-2 font-semibold text-red-600" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex-col w-1/3 mr-1">
                            <div class="mb-2">
                                <label class="block tracking-wide text-gray-700 text-xs font-bold mb-1" for="grid-last-name">
                                    Email
                                </label>
                                <FInputText @bind-Value="_model.Email" AdditionalAttributes="@(new Dictionary<string, object> {{"name", "Name" }})" />
                                <FCustomValidationMessage For="@(() => _model.Client.Email)" Class="mt-2 font-semibold text-red-600" />
                            </div>
                            <div class="mb-2">
                                <label class="block tracking-wide text-gray-700 text-xs font-bold mb-1" for="grid-last-name">
                                    Fecha
                                </label>
                                <DatePicker @bind-Value="_model.Created" />
                                <FCustomValidationMessage For="@(() => _model.Created)" Class="mt-2 font-semibold text-red-600" />
                            </div>
                            <div class="mb-2">
                                <label class="block text-gray-700 text-xs font-bold mb-1" for="grid-first-name">
                                    Vencimiento
                                </label>
                                <DatePicker @bind-Value="_model.DueDate" />
                                <FCustomValidationMessage For="@(() => _model.DueDate)" Class="mt-2 font-semibold text-red-600" />
                            </div>
                        </div>
                        <div class="flex-col w-1/3 flex-col w-1/3 self-center">
                            <div class="flex flex-col items-end">
                                <Dropdown Placement="@PlacementType.BottomRight" Trigger="@(new TriggerType[] { TriggerType.Click })">
                                    <Overlay>
                                        <div class="origin-bottom-right rounded-md shadow-lg">
                                            <div class="rounded-md bg-white shadow-xs">
                                                <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
                                                    <a href="#" class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900" role="menuitem">
                                                        Credito Fiscal
                                                    </a>
                                                    <a href="#" class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900" role="menuitem">
                                                        Consumidor Final
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </Overlay>
                                    <ChildContent>
                                        <button class="ml-2 mr-2 text-gray-600 font-semibold py-1 px-4 border border-white rounded shadow hover:text-gray-900" type="button">
                                            Tipo Comprobante
                                            <i class="ml-2 fas fa-caret-down text-gray-900"></i>
                                        </button>
                                    </ChildContent>
                                </Dropdown>
                                <input class="mt-2 appearance-none block w-5/6 bg-gray-200 border rounded py-3 px-4 mb-3 text-right text-base font-semibold leading-tight focus:outline-none focus:bg-white" 
                                       id="grid-first-name" type="text" placeholder="1545" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-col w-1/4 px-2 sm:px-6 md:flex items-end justify-start">
                    <p class="mt-2 max-w-2xl text-sm leading-5 text-gray-500">
                        Balance pendiente
                    </p>
                    <h4 class="font-semibold text-3xl">$0.00</h4>
                </div>
            </div>
            <InvoiceLines ProductDataSource="Products"/>
            <div class="w-full flex flex-wrap py-2 bg-white shadow-xs rounded antialiased justify-between">
                <div class="w-1/3">
                    <button class="ml-2 bg-white hover:bg-gray-100 text-gray-800 font-semibold py-1 px-4 border border-gray-400 rounded shadow">Nueva Linea</button>
                    <button class="ml-4 bg-white hover:bg-gray-100 text-gray-800 font-semibold py-1 px-4 border border-gray-400 rounded shadow">Limpiar Linea</button>
                    <div class="ml-2 mt-2 flex-col">
                        <span class="text-gray-700 text-xs font-bold">Notas</span>
                        <textarea class="w-full px-3 py-2 text-gray-700 border rounded-lg focus:outline-none" rows="5"
                                  placeholder="Gracias por hacer negocios con nosotros, Dios te guarde"/>
                    </div>
                </div>
                <div class="flex justify-between ">
                    <div class="flex flex-col pt-1 px-10 items-end">
                        <div class="py-4 font-semibold text-lg">
                            Subtotal
                        </div>
                        <div class="py-4 font-semibold text-base text-gray-700">
                            Impuesto
                        </div>
                        <div class="py-4 font-semibold text-lg text-gray-700">
                            Descuento
                        </div>
                        <div class="py-4 font-bold text-2xl tracking-wide">
                            Total
                        </div>
                    </div>
                    <div class="flex flex-col mr-5 pt-1 px-10 items-end">
                        <div class="py-4 proportional-nums font-bold text-lg">
                            $1,250.00
                        </div>
                        <div class="py-4 proportional-nums font-semibold text-lg text-gray-700">
                            $120.45
                        </div>
                        <div class="py-4 proportional-nums font-semibold text-lg text-gray-900">
                            $10.20
                        </div>
                        <div class="py-4 proportional-nums font-bold text-xl ">
                            $1,340.45
                        </div>
                    </div>
                </div>
            </div>
        </EditForm>
    </div>

    <div class="py-5 bg-black opacity-75">
        <div class="flex justify-between">
            <div>
                <button class="ml-2 bg-black opacity-75 hover:bg-gray-700 text-white font-semibold py-1 px-4 border border-white rounded-full shadow">Cancelar</button>
                <button class="ml-2 mr-2 bg-black opacity-75 hover:bg-gray-700 text-white font-semibold py-1 px-4 border border-white rounded-full shadow">Limpar</button>
            </div>
            <div>
                <a href="#hover" class="no-underline hover:underline text-indigo-600 text-sm">Impresion Previa</a>
            </div>
            <div>
                <button class="ml-2 bg-black opacity-75 text-white font-semibold py-1 px-4 border border-white rounded-full shadow hover:bg-gray-700">Guardar</button>
                <Dropdown Placement="@PlacementType.TopRight" Trigger="@(new TriggerType[] { TriggerType.Click })">
                    <Overlay>
                        <div class="origin-bottom-right mt-2 mr-3 w-56 rounded-md shadow-lg">
                            <div class="rounded-md bg-white shadow-xs">
                                <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
                                    <a href="#" class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900" role="menuitem">
                                    Guardar y Enviar
                                    </a>
                                    <a href="#" class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900" role="menuitem">
                                    Guardar e Imprimir
                                    </a>
                                </div>
                            </div>
                        </div>
                    </Overlay>
                    <ChildContent>
                        <button class="ml-2 mr-2 bg-indigo-600 opacity-75 text-white font-semibold py-1 px-4 border border-white rounded-full shadow hover:bg-indigo-900">Mas Opciones</button>
                    </ChildContent>
                </Dropdown>
            </div>
        </div>
    </div>
</div>



@code {

    void GoToDashboard()
    {
        NavigationManager.NavigateTo("/");
    }

}
