@page "/werehouses"
@inherits WerehouseContainerHandler
@using Models
@using AntDesign.core
@using ProjectF.WebUI.Components.Common

<SectionTitle Title="Almacen"
              Subtitle="Define los alamcenes y ubicaciones para tus productos o servicios"
              OnClickAddButton="() => OpenDrawerForAdd(GetNewModelOrEdit())" />

<WerehouseList Elements="Elements"
              OnClickDrawerEdit="OpenDrawerForEdit"
              OnClickDelete="Delete" />
<div>
    <Drawer Closable="true" Width="425" Visible="IsDrawerVisible" Title='($"{(IsEditing ? "Editar Almacen" : "Crear Almacen")}")' OnClose="CloseDrawer">
        <Template style="height:90%">
            <EditForm Model="_model" OnValidSubmit="@((context) => OnFinish(context, _model.Id))" @attributes="formcss" OnInvalidSubmit="OnFinishFailed">

                <FluentValidator></FluentValidator>
                <div class="mb-4">
                    <FLabel Value="Nombre" LabelFor="Name" />
                    <FInputText @bind-Value="_model.Name" AdditionalAttributes="@(new Dictionary<string, object> {{"name", "Name" }})" />
                    <FCustomValidationMessage For="@(() => _model.Name)" Class="mt-2 font-semibold text-red-600" />
                </div>
                <div class="mb-4">
                    <FLabel Value="Ubicacion" LabelFor="location" />
                    <FInputText @bind-Value="_model.Location" AdditionalAttributes="@(new Dictionary<string, object> {{"location", "location" }})" />
                    <FCustomValidationMessage For="@(() => _model.Location)" Class="mt-2 font-semibold text-red-600" />
                </div>
                
                <FDivider />
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    @($"{(IsEditing ? "Editar" : "Guardar")}")
                </button>
            </EditForm>
        </Template>

    </Drawer>
</div>


@code{
    public Dictionary<string, object> formcss =
         new Dictionary<string, object> { { "class", "bg-white px-4 pt-1 pb-8 mb-2" } };
}