@layout BlankLayout
@page "/signin"
@inherits SignInContainerHandler

<style type="text/css">

    .fcontainer {
        width: 200px;
    }

    .word {
        font-weight: bold;
        float: left;
        color: white;
        opacity: 0;
        position: absolute;
    }

    .w1 {
        animation: w1anim 10s infinite;
    }

    .w2 {
        animation: w2anim 10s infinite;
    }

    .w3 {
        animation: w3anim 10s infinite;
    }

    .w4 {
        animation: w4anim 10s infinite;
    }

    .w5 {
        animation: w5anim 10s infinite;
    }



    @@keyframes w1anim {
        0% {
            opacity: 0;
        }

        10% {
            opacity: 1;
        }

        20% {
            opacity: 0;
        }
    }


    @@keyframes w2anim {
        20% {
            opacity: 0;
        }

        30% {
            opacity: 1;
        }

        40% {
            opacity: 0;
        }
    }

    @@keyframes w3anim {
        40% {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        60% {
            opacity: 0;
        }
    }

    @@keyframes w4anim {
        60% {
            opacity: 0;
        }

        70% {
            opacity: 1;
        }

        80% {
            opacity: 0;
        }
    }

    @@keyframes w5anim {
        80% {
            opacity: 0;
        }

        90% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }
</style>

<div class="min-h-screen bg-white flex antialiased">
    <div class="flex-1 flex flex-col justify-center py-12 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
        <div class="mx-auto w-full max-w-sm">
            <div class="flex items-center">
                <img class="w-12 h-12 block rounded object-cover object-top"
                     src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" />
                <div class="text-indigo-800 font-semibold text-lg ml-4">Project-F</div>
            </div>
            <h2 class="px-4 mt-10 text-lg leading-7 font-semibold antialiased text-gray-800">
                Iniciar Sesi&oacute;n
            </h2>
            <div class="px-4 mt-5 flex items-center justify-end">
                <div class="text-sm leading-5">
                    <span class="text-gray-500 font-semibold tracking-wide">
                        Bienviedo a <span class="text-indigo-800">Project-f</span>, desde aqu&Iacute; maneja, organiza y conoces el estado de tu PYME.
                    </span>
                </div>
            </div>

            <hr class="my-5 mx-auto px-4" />
            <div class="mt-5">
                <EditForm Model="_model" OnValidSubmit="@((context) => SignIn(context))" @attributes="formcss" OnInvalidSubmit="OnFinishFailed">
                    <FluentValidator></FluentValidator>

                    <div class="mb-4">
                        <FLabel Value="Email" LabelFor="email" />
                        <FInputText @bind-Value="_model.Email" AdditionalAttributes="@(new Dictionary<string, object> {{"email", "email" }, { "autocomplete","off"} })" />
                        <FCustomValidationMessage For="@(() => _model.Email)" Class="mt-2 font-semibold text-red-600" />
                    </div>

                    <div class="mb-2">
                        <FLabel Value="Contraseña" LabelFor="password" />
                        <InputPassword @bind-Value="_model.Password" Class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 text-base outline-none text-gray-700 shadow-sm py-2 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out" AdditionalAttributes="@(new Dictionary<string, object> {{"password", "password" }})" />
                        <FCustomValidationMessage For="@(() => _model.Password)" Class="mt-2 font-semibold text-red-600" />

                    </div>

                    <div class="flex items-center justify-end">
                        <div class="text-sm leading-5">
                            <span class="text-xs font-semibold tracking-wide">
                                Olvidaste
                            </span>
                            <a href="/forgotpassword" class="text-indigo-500 text-xs font-semibold tracking-wide">
                                tu contraseña?
                            </a>
                        </div>
                    </div>
                    <button type="submit" class="w-full mt-5 bg-indigo-600 text-white font-semibold text-lg tracking-wide hover:bg-indigo-800 py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                        Acceder
                    </button>
                    <div class="flex items-center justify-end mt-2">
                        <span class="text-xs font-semibold tracking-wide">A&uacute;n no tienes una cuenta?</span>
                        <a href="/signup" o class="text-xs font-semibold text-indigo-500 px-1">Registrate</a>
                    </div>
                </EditForm>
            </div>
        </div>
          
        </div>
        <div class="hidden lg:block relative w-0 flex-1 sm:bg-indigo-500 sm:bg-repeat" style="background-image: url('img/background.png')">
            <div class="flex flex-col items-center min-h-screen">
                <div class="flex-grow items-end py-20">
                    <h2 class="text-white text-4xl font-semibold leading-relaxed py-2">Manos a la obra</h2>
                    <div class="flex items-end justify-items-end mt-5  leading-relaxed">
                        <span class="text-xl word w1">Organiza tus N&uacute;meros</span>
                        <span class="text-xl word w2">Maneja tu Contabilidad</span>
                        <span class="text-xl word w3">Conoce tus Finanzas</span>
                        <span class="text-xl word w4">Organiza tus PYMES</span>
                        <span class="text-xl word w5">Todo con r&aacute;pidez</span>
                    </div>

                    <div class="flex items-center justify-center mt-5">
                        <span class="text-gray-300 text-base">
                            Un aplicaci&oacute;n
                            <span class="text-gray-300 text-base">
                                con las opciones que necesitas para manegar tú
                                <span class="tracking-wide text-base text-gray-100"> PYME.</span>
                            </span>
                        </span>
                    </div>
                </div>
                <svg class="object-none object-right-bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                    <path fill="#6366f1"
                          fill-opacity="1"
                          d="M0,256L48,229.3C96,203,192,149,288,154.7C384,160,480,224,576,218.7C672,213,768,139,864,128C960,117,1056,171,1152,197.3C1248,224,1344,224,1392,224L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
                    </path>
                </svg>
            </div>
        </div>
    </div>
@code {
    public Dictionary<string, object> formcss =
        new Dictionary<string, object> { { "class", "bg-white px-4 pt-1 pb-8 mb-2" } };
}
