@inherits LayoutComponentBase

@code
{
    bool collapsed;

    void toggle()
    {
        collapsed = !collapsed;
    }
}

<Layout Class="site-wide-layout">
    <Sider Collapsible Collapsed=@collapsed NoTrigger OnCollapse="OnCollapse">
        <div class="logo" />
        <Menu Theme="MenuTheme.Dark" Mode="MenuMode.Inline" DefaultSelectedKeys=@(new[]{"1"})>
            <MenuItem Key="1">
                <Icon Type="pie-chart" Theme="outline" />
                <span>Dashboard</span>
            </MenuItem>
            <SubMenu Key="1" Title="@sell">
                <MenuItem Key="5">Option 5</MenuItem>
                <MenuItem Key="6">Option 6</MenuItem>
                <MenuItem Key="7">Option 7</MenuItem>
                <MenuItem Key="8">Option 8</MenuItem>
            </SubMenu>

            <SubMenu Key="2" Title="@bill">
                <MenuItem Key="5">Option 5</MenuItem>
                <MenuItem Key="6">Option 6</MenuItem>
                <MenuItem Key="7">Option 7</MenuItem>
                <MenuItem Key="8">Option 8</MenuItem>
            </SubMenu>
            <SubMenu Key="3" Title="@inventory">
                <MenuItem Key="5">Option 5</MenuItem>
                <MenuItem Key="6">Option 6</MenuItem>
                <MenuItem Key="7">Option 7</MenuItem>
                <MenuItem Key="8">Option 8</MenuItem>
            </SubMenu>
            <SubMenu Key="4" Title="@clients">
                <MenuItem Key="5">Option 5</MenuItem>
                <MenuItem Key="6">Option 6</MenuItem>
                <MenuItem Key="7">Option 7</MenuItem>
                <MenuItem Key="8">Option 8</MenuItem>
            </SubMenu>
            <SubMenu Key="5" Title="@hr">
                <MenuItem Key="5">Option 5</MenuItem>
                <MenuItem Key="6">Option 6</MenuItem>
                <MenuItem Key="7">Option 7</MenuItem>
                <MenuItem Key="8">Option 8</MenuItem>
            </SubMenu>

            <SubMenu Key="6" Title="@accounting">
                <MenuItem Key="5">Option 5</MenuItem>
                <MenuItem Key="6">Option 6</MenuItem>
                <MenuItem Key="7">Option 7</MenuItem>
                <MenuItem Key="8">Option 8</MenuItem>
            </SubMenu>

            <SubMenu Key="7" Title="@finance">
                <MenuItem Key="5">Option 5</MenuItem>
                <MenuItem Key="6">Option 6</MenuItem>
                <MenuItem Key="7">Option 7</MenuItem>
                <MenuItem Key="8">Option 8</MenuItem>
            </SubMenu>

            <SubMenu Key="8" Title="@config">
                <MenuItem Key="5">Option 5</MenuItem>
                <MenuItem Key="6">Option 6</MenuItem>
                <MenuItem Key="7">Option 7</MenuItem>
                <MenuItem Key="8">Option 8</MenuItem>
            </SubMenu>
        </Menu>
    </Sider>
    <Layout Class="site-layout">
        <Header Class="site-layout-background" Style="padding: 0;">
            @if (collapsed)
            {
                <Icon Type="menu-unfold"
                      Theme="outline"
                      Class="trigger"
                      OnClick="toggle"
                      Style="font-size: 16px;" />
            }
            else
            {
                <Icon Type="menu-fold"
                      Theme="outline"
                      Class="trigger"
                      OnClick="toggle"
                      Style="font-size: 16px;" />
            }
        </Header>
        <Content Class="content">
            @Body
        </Content>
    </Layout>
</Layout>

<style type="text/css">
    .site-wide-layout {
        min-height: 100vh;
    }

    .content {
        margin-left: 20px;
        padding: 10px;
        background-color: #fff;
    }
</style>

@code{

    string menu = "SubMenu";

    RenderFragment sell =@<span>
        <Icon Type="shop" Theme="outline"></Icon>
        <span>Cobros</span>
    </span>;

RenderFragment bill =@<span>
    <Icon Type="solution" Theme="outline" Style="font-size:14px"></Icon>
    <span>Pagos</span>
</span>;

RenderFragment inventory =@<span>
    <Icon Type="shopping-cart" Theme="outline" Style="font-size:12px"/>
    <span>Inventario</span>
</span>;

RenderFragment config =@<span>
    <Icon Type="tool" Theme="outline" />
    <span>Configuracion</span>
</span>;


RenderFragment hr =@<span>
    <Icon Type="usergroup-add" Theme="outline" />
    <span>Empleados</span>
</span>;

RenderFragment clients =@<span>
    <Icon Type="team" Theme="outline" />
    <span>Clientes</span>
</span>;

RenderFragment accounting =@<span>
    <Icon Type="calculator" Theme="outline" />
    <span>Contabilidad</span>
</span>;

RenderFragment finance =@<span>
    <Icon Type="percentage" Theme="outline" />
    <span>Finanzas</span>
</span>;

void OnCollapse(bool isCollapsed)
{
Console.WriteLine($"Collapsed: {isCollapsed}");
}

}