@using ProjectF.WebUI.Models


@if (Elements.Length > 0)
{
    <Table DataSource="Elements">
        <Column @bind-Field="@context.Name" Title="Nombre" Sortable />
        <Column @bind-Field="@context.ShowOn" Title="Mostrar" >
            @(context.ShowOn ? "Si" : "No")
        </Column>

        <ActionColumn Title="Acción" Style="text-align:right">
            <Space>
                <SpaceItem>
                    <Button Shape="circle" Icon="edit" OnClick="()=> OnClickDrawerEdit.InvokeAsync(context)" />
                </SpaceItem>
            </Space>
            <Space>
                <SpaceItem>
                    <Popconfirm Placement="@PlacementType.Top"
                                Title="@("Estas seguro de borrar esta categoria")"
                                OkText="Sí"
                                CancelText="No"
                                OnConfirm="()=> OnClickDelete.InvokeAsync(context.Id)">
                        <Button Shape="circle" Icon="delete" Danger />
                    </Popconfirm>
                </SpaceItem>
            </Space>
        </ActionColumn>
    </Table>
}
else
{
    <Empty />
}


@code {
    [Parameter]
    public Category[] Elements { get; set; }

    [Parameter]
    public EventCallback<Category> OnClickDrawerEdit { get; set; }

    [Parameter]
    public EventCallback<long> OnClickDelete { get; set; }
}
