@page "/suppliers"
@inherits SupplierContainerHandler
@using Models
@using AntDesign.core
@using ProjectF.WebUI.Components.Common

<SectionTitle Title="Suplidor"
              Subtitle="Define a quienes te proveen de mercacia o servicos"
              OnClickAddButton="() => OpenDrawerForAdd(GetNewModelOrEdit())" />

<SuppliersList Elements="Elements"
               OnClickDrawerEdit="OpenDrawerForEdit"
               OnClickDelete="Delete" />

<Drawer Width="750"
        Visible="IsDrawerVisible"
        Closable="true"
        BodyStyle="background-color:rgba(243, 244, 246, 1)">
    <SectionTitle Title="Crear un Suplidor"
                  BTypes="@ButtonTypes.Close"
                  Subtitle="Detalla los datos de tus suplidores"
                  OnClickAddButton="() => CloseDrawer()" />
    <EditForm Model="_model" OnValidSubmit="@((context) => OnFinish(context, _model.Id))" @attributes="formcss" OnInvalidSubmit="OnFinishFailed">
        <FluentValidator></FluentValidator>
        <div class="mt-2">
            <FLabel Value="Nombre" LabelFor="Name" />
            <FInputText @bind-Value="_model.Name" AdditionalAttributes="@(new Dictionary<string, object> {{"name", "Name" }})" />
            <FCustomValidationMessage For="@(() => _model.Name)" Class="mt-2 font-semibold text-red-600" />
        </div>
        <div class="flex space-x-1 mt-2">
            <div class="w-1/2">
                <FLabel Value="Rnc" LabelFor="Rnc" />
                <FInputText @bind-Value="_model.Rnc" AdditionalAttributes="@(new Dictionary<string, object> {{"name", "Name" }})" />
                <FCustomValidationMessage For="@(() => _model.Rnc)" Class="mt-2 font-semibold tWext-red-600" />
            </div>
            <div class="w-1/2">
                <FLabel Value="Télefono" LabelFor="Phone" />
                <FInputText @bind-Value="_model.Phone" AdditionalAttributes="@(new Dictionary<string, object> {{"name", "Name" }})" />
                <FCustomValidationMessage For="@(() => _model.Phone)" Class="mt-2 font-semibold text-red-600" />
            </div>
        </div>

        <div class="mt-2">
            <FLabel Value="Email" LabelFor="Email" />
            <FInputText @bind-Value="_model.Email" AdditionalAttributes="@(new Dictionary<string, object> {{"name", "Name" }})" />
            <FCustomValidationMessage For="@(() => _model.Email)" Class="mt-2 font-semibold text-red-600" />
        </div>
        <div class="flex space-x-1 mt-2">
            <div class="w-1/2">
                <FLabel Value="Termino de pago" LabelFor="SelectedPaymentTermId" />
                <div class="inline-block relative w-full">
                    <FInputSelect @bind-Value="_model.PaymentTermId">
                        <option value="0">Seleccione</option>
                        @foreach (var type in PaymentTerms)
                        {
                            <option value="@type.Id">@type.Description</option>
                        }
                    </FInputSelect>
                    <FCustomValidationMessage For="@(() => _model.PaymentTermId)" Class="mt-2 font-semibold text-red-600" />
                </div>
            </div>
            <div class="w-1/2 flex justify-center items-center flex-col">
                <FLabel Value="Es independiente?" LabelFor="ShowOn" />
                <Switch @bind-Value="_model.IsIndependent" />
            </div>
        </div>
        <div class="mt-2">
            <FLabel Value="Calle" LabelFor="Street" />
            <FTextArea @bind-Value="_model.Street" Rows="2" AdditionalAttributes="@(new Dictionary<string, object> {{"name", "Name" }})" />
            <FCustomValidationMessage For="@(() => _model.HomeOrApartment)" Class="mt-2 font-semibold text-red-600" />
        </div>
        <div class="flex space-x-1 mt-2">
            <div class="w-1/2">
                <FLabel Value="Local/Casa/Apartamento" LabelFor="HomeOrApartment" />
                <FInputText @bind-Value="_model.HomeOrApartment" AdditionalAttributes="@(new Dictionary<string, object> {{"name", "Name" }})" />
                <FCustomValidationMessage For="@(() => _model.HomeOrApartment)" Class="mt-2 font-semibold text-red-600" />
            </div>
            <div class="w-1/2">
                <FLabel Value="Ciudad" LabelFor="City" />
                <FInputText @bind-Value="_model.City" AdditionalAttributes="@(new Dictionary<string, object> {{"name", "Name" }})" />
                <FCustomValidationMessage For="@(() => _model.City)" Class="mt-2 font-semibold text-red-600" />
            </div>
        </div>

        <div class="mt-2">
            <FLabel Value="Cuenta de gastos predeterminada" LabelFor="Street" />
            <div class="inline-block relative w-full">
                <FInputSelect @bind-Value="EmptyDefaultCostAccount">
                    <option value="0">Seleccione</option>
                    @foreach (var type in Countries)
                    {
                        <option value="@type.Id">@type.Name</option>
                    }
                </FInputSelect>
                @*<div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
                    </div>*@
                <FCustomValidationMessage For="@(() => _model.SelectedCountry)" Class="mt-2 font-semibold text-red-600" />
            </div>
        </div>
        <div class="flex space-x-1 mt-2">
            <div class="w-1/2">
                <FLabel Value="País" LabelFor="País" />
                <div class="inline-block relative w-full">
                    <FInputSelect @bind-Value="_model.SelectedCountry">
                        <option value="0">Seleccione el país</option>
                        @foreach (var type in Countries)
                        {
                            <option value="@type.Id">@type.Name</option>
                        }
                    </FInputSelect>
                    @*<div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
                        </div>*@
                    <FCustomValidationMessage For="@(() => _model.SelectedCountry)" Class="mt-2 font-semibold text-red-600" />
                </div>
            </div>
            <div class="w-1/2">
                <FLabel Value="Tipo Suplidor" LabelFor="SupplierGroup" />
                <div class="inline-block relative w-full">
                    <FInputSelect @bind-Value="_model.SupplierGroup">
                        <option value="0" selected>Seleccione</option>
                        <option value="@SupplierGroup.National">Nacional</option>
                        <option value="@SupplierGroup.International">Internacional</option>
                    </FInputSelect>
                    <FCustomValidationMessage For="@(() => _model.SupplierGroup)" Class="mt-2 font-semibold text-red-600" />
                </div>
            </div>
        </div>
        <div class="flex space-x-1 mt-2">
            <div class="w-full">
                <FLabel Value="Notas" LabelFor="Notes" />
                <FTextArea @bind-Value="_model.Notes" AdditionalAttributes="@(new Dictionary<string, object> {{"name", "Name" }})" />
                <FCustomValidationMessage For="@(() => _model.Notes)" Class="mt-2 font-semibold text-red-600" />
            </div>

        </div>
        <FDivider />
        <FPrimaryButton ButtonName="@((IsEditing ? "Editar" : "Guardar"))" />
    </EditForm>
</Drawer>


@code{
    public Dictionary<string, object> formcss =
         new Dictionary<string, object> { { "class", "bg-white px-4 py-4 mt-2 border border-gray-200 rounded" } };
}