@page "/products"
@inherits ProductContainerHandler
@using Models
@using AntDesign.core
@using ProjectF.WebUI.Components.Common

<div class="mt-5">
    <SectionTitle Title="Productos o Servicios"
                  Subtitle="Define tus productos o servicios."
                  OnClickAddButton="() => OpenDrawerForAdd(GetNewModelOrEdit())" />


    <ProductsList Elements="Elements"
                  OnClickDrawerEdit="OpenDrawerForEdit"
                  OnClickDelete="Delete" />

    <Drawer Width="650"
            Visible="IsDrawerVisible"
            Closable="true"
            BodyStyle="background-color:rgba(243, 244, 246, 1)">
        <SectionTitle Title="Crear un producto"
                      BTypes="@ButtonTypes.Close"
                      Subtitle="Detalla tu producto o servicio"
                      OnClickAddButton="() => CloseDrawer()" />
        <EditForm Model="_model" OnValidSubmit="@((context) => OnFinish(context, _model.Id))" @attributes="formcss" OnInvalidSubmit="OnFinishFailed">
            <FluentValidator></FluentValidator>
            <div class="mt-2">
                <FLabel Value="Nombre" LabelFor="Name" />
                <FInputText @bind-Value="_model.Name" AdditionalAttributes="@(new Dictionary<string, object> {{"name", "Name" }})" />
                <FCustomValidationMessage For="@(() => _model.Name)" Class="mt-2 font-semibold text-red-600" />
            </div>
            <div class="flex space-x-1 mt-2">
                <div class="w-1/2">
                    <FLabel Value="Categoría" LabelFor="CategoryId" />
                    <div class="inline-block relative w-full">
                        <FInputSelect @bind-Value="_model.CategoryId">
                            <option value="0">Seleccione</option>
                            @foreach (var type in Categories)
                            {
                                <option value="@type.Id">@type.Name</option>
                            }
                        </FInputSelect>
                        @*<div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                        </svg>
                    </div>*@
                        <FCustomValidationMessage For="@(() => _model.CategoryId)" Class="mt-2 font-semibold text-red-600" />
                    </div>
                </div>
                <div class="w-1/2">
                    <FLabel Value="Almacen" LabelFor="WerehouseId" />
                    <div class="inline-block relative w-full">
                        <FInputSelect @bind-Value="_model.WarehouseId">
                            <option value="0">Seleccione un Almance</option>
                            @foreach (var type in Warehouses)
                            {
                                <option value="@type.Id">@type.Name</option>
                            }
                        </FInputSelect>
                        @*<div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
                    </div>*@
                        <FCustomValidationMessage For="@(() => _model.WarehouseId)" Class="mt-2 font-semibold text-red-600" />
                    </div>
                </div>
            </div>
            <div class="flex space-x-1 mt-2">
                <div class="w-1/2">
                    <FLabel Value="Medida" LabelFor="UnitOfMeasureId" />
                    <div class="inline-block relative w-full">
                        <FInputSelect @bind-Value="_model.UnitOfMeasureId">
                            <option value="0">Seleccione</option>
                            @foreach (var unit in UnitOfMeasures)
                            {
                                <option value="@unit.Id">@unit.Name</option>
                            }
                        </FInputSelect>
                        @*<div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /></svg>
                    </div>*@
                        <FCustomValidationMessage For="@(() => _model.UnitOfMeasureId)" Class="mt-2 font-semibold text-red-600" />
                    </div>
                </div>
                <div class="w-1/2">
                    <FLabel Value="Impuesto" LabelFor="TaxId" />
                    <div class="inline-block relative w-full">
                        <FInputSelect @bind-Value="_model.TaxId">
                            <option value="0">Seleccione un Impuesto</option>
                            @foreach (var type in Taxes)
                            {
                                <option value="@type.Id">@type.Name | @type.PercentValue </option>
                            }
                        </FInputSelect>
                        @*<div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                        </svg>
                    </div>*@
                        <FCustomValidationMessage For="@(() => _model.TaxId)" Class="mt-2 font-semibold text-red-600" />
                    </div>
                </div>
            </div>

            <div class="inline-grid gap-x-2 grid-cols-4 mt-2">
                <div>
                    <FLabel Value="Precio" LabelFor="Price" />
                    <FInputDecimal @bind-Value="_model.Price" AdditionalAttributes="@(new Dictionary<string, object> {{"name", "Name" }})" />
                    <FCustomValidationMessage For="@(() => _model.Price)" Class="mt-2 font-semibold text-red-600" />
                </div>
                <div>
                    <FLabel Value="Precio 2" LabelFor="Price" />
                    <FInputDecimal @bind-Value="_model.Price2" AdditionalAttributes="@(new Dictionary<string, object> {{"name", "Name" }})" />
                    <FCustomValidationMessage For="@(() => _model.Price)" Class="mt-2 font-semibold text-red-600" />
                </div>

                <div>
                    <FLabel Value="Precio 3" LabelFor="Price 3" />
                    <FInputDecimal @bind-Value="_model.Price3" AdditionalAttributes="@(new Dictionary<string, object> {{"name", "Name" }})" />
                    <FCustomValidationMessage For="@(() => _model.Price)" Class="mt-2 font-semibold text-red-600" />
                </div>
                <div>
                    <FLabel Value="Precio 4" LabelFor="Price" />
                    <FInputDecimal @bind-Value="_model.Price" AdditionalAttributes="@(new Dictionary<string, object> {{"name", "Name" }})" />
                    <FCustomValidationMessage For="@(() => _model.Price4)" Class="mt-2 font-semibold text-red-600" />
                </div>
            </div>
            <div class="flex space-x-1 mt-2">
                <div class="w-1/2">
                    <FLabel Value="Referencia" LabelFor="Reference" />
                    <FInputText @bind-Value="_model.Reference" AdditionalAttributes="@(new Dictionary<string, object> {{"name", "Name" }})" />
                    <FCustomValidationMessage For="@(() => _model.Reference)" Class="mt-2 font-semibold text-red-600" />
                </div>
                <div class="w-1/2">
                    <FLabel Value="Costo" LabelFor="Cost" />
                    <FInputDecimal @bind-Value="_model.Cost" AdditionalAttributes="@(new Dictionary<string, object> {{"name", "Name" }})" />
                    <FCustomValidationMessage For="@(() => _model.Cost)" Class="mt-2 font-semibold text-red-600" />
                </div>
            </div>
            <div class="flex space-x-1 mt-2">
                <div class="w-1/2">
                    <FLabel Value="Es Servicio ?" LabelFor="IsService" />
                    <Switch @bind-Value="_model.IsService" />
                </div>
            </div>
            <div class="mt-2">
                <FLabel Value="Descripcion" LabelFor="Description" />
                <FTextArea @bind-Value="_model.Description" Rows="3" AdditionalAttributes="@(new Dictionary<string, object> {{"name", "Name" }})" />
                <FCustomValidationMessage For="@(() => _model.Description)" Class="mt-2 font-semibold text-red-600" />
            </div>
            <FFormFooterAction CancelBtnName="Cancelar"
                               CancelBtnType="button"
                               OnClickCancelBtn="() => CloseDrawer()"
                               ActionBtnName="@((IsEditing ? "Editar" : "Guardar"))"
                               ActionBtnType="submit"
                               OnClickPrimaryBtn="() => { }"/>
        </EditForm>
        
    </Drawer>
</div>

@code{
    public Dictionary<string, object> formcss =
         new Dictionary<string, object> { { "class", "bg-white px-4 py-4 mt-2 border border-gray-200 rounded" } };
}