
@if (Elements.Length > 0)
{
<Table DataSource="Elements">
    <Column Title="Nombre" Field="@context.Name" />
    <Column @bind-Field="@context.Rnc" Title="Rnc" />
    <Column @bind-Field="@context.Phone" Title="Télefono" />
    <Column @bind-Field="@context.City" Title="Ciudad" />
    <Column @bind-Field="@context.Website" Title="Sitio Web" />

    <ActionColumn Title="Acción" Style="text-align: right">
        <Space>
            <SpaceItem>
                <Button Shape="circle" Icon="edit" OnClick="()=> OnClickDrawerEdit.InvokeAsync(context)" />
            </SpaceItem>
        </Space>
        @*<Space>
            <SpaceItem>
                <Popconfirm Placement="@PlacementType.Top"
                            Title="@("Estas seguro de borrar esta compañia")"
                            OkText="Sí"
                            CancelText="No"
                            OnConfirm="()=> OnClickDelete.InvokeAsync(context.Id)">
                    <Button Shape="circle" Icon="delete" Danger />
                </Popconfirm>
            </SpaceItem>
        </Space>*@
    </ActionColumn>
</Table>
}
else
{
    <Empty />
}


@code {
    [Parameter]
    public Company[] Elements { get; set; }

    [Parameter]
    public EventCallback<Company> OnClickDrawerEdit { get; set; }

    [Parameter]
    public EventCallback<long> OnClickDelete { get; set; }
}
